* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  box-sizing: content-box;
}

#root {
  background-color: #000000;
  height: 100dvh;
}

.swal2-select {
  width: 80%;
  height: 41.5px;
  border-radius: 0px;
  border: 1px solid #d5d5d5;
  border-radius: 0.5rem;
  outline: none;
  margin: 0.5rem auto;
}

::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 100px;
}

.MuiFormControl-root {
  margin: 0 !important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  appearance: textfield;
  -moz-appearance: textfield;
}

.MuiAccordion-root::before {
  position: unset !important;
}

.MuiInputBase-root::before {
  border-bottom: none !important;
}
